services:
  api:
    container_name: jw-container
    build: .
    image: jw-img
    command: fastapi dev --host 0.0.0.0 --port 80 --reload
    ports:
      - "8000:80"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/

        - action: rebuild
          path: ./uv.lock

        - action: rebuild
          path: ./pyproject.toml

# to run:
# uv sync && docker compose up --watch --build
